<template>
  <div class="title">
    <h1>Création d'une ressource</h1>
  </div>
  <div class="liste">
    <label for="livres">Choisissez un livre :</label>
    <select id="livres" name="livres">
      <option value="">Sélectionnez un livre</option>
      <option value="le_petit_prince">Le Petit Prince</option>
      <option value="1984">1984</option>
      <option value="le_seigneur_des_anneaux">Le Seigneur des Anneaux</option>
      <option value="harry_potter">Harry Potter à l'école des sorciers</option>
    </select>
  </div>
  <headerMenu></headerMenu>
</template>

<style>
@media (min-width: 1024px) {
  .title {
    min-height: 100vh;
    display: flex;
    align-items: top;
  }
}
</style>

<script setup lang="ts"></script>
