<template>
  <div class="memory-game">
    <div
      class="memory-card"
      v-for="card in cards"
      :key="card.name"
      @click="flipCard(card)"
      :class="{ flip: flippedCards.includes(card) || card.found }"
    >
      <img
        class="front-face"
        :src="card.img"
        :alt="card.name"
        v-show="flippedCards.includes(card) || card.found"
      />
      <img
        class="back-face"
        src="../assets/Logo_gouvernement.png"
        alt="logo gouvernement"
        v-show="!flippedCards.includes(card) && !card.found"
      />
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import sarkozyImg from '@/assets/sarkozy.jpg'
import giscardImg from '@/assets/giscard.png'
import chiracImg from '@/assets/chirac.png'
import hollandeImg from '@/assets/hollande.png'
import macronImg from '@/assets/macron.png'
import gaulleImg from '@/assets/De Gaulle.jpg'

const cards = ref([
  { name: 'sarkozy', img: sarkozyImg, found: false },
  { name: 'giscard', img: giscardImg, found: false },
  { name: 'chirac', img: chiracImg, found: false },
  { name: 'hollande', img: hollandeImg, found: false },
  { name: 'macron', img: macronImg, found: false },
  { name: 'gaulle', img: gaulleImg, found: false },
  { name: 'sarkozy', img: sarkozyImg, found: false },
  { name: 'giscard', img: giscardImg, found: false },
  { name: 'chirac', img: chiracImg, found: false },
  { name: 'hollande', img: hollandeImg, found: false },
  { name: 'macron', img: macronImg, found: false },
  { name: 'gaulle', img: gaulleImg, found: false }
])

const flippedCards = ref([])

const flipCard = (card) => {
  if (!card.found && flippedCards.value.length < 2) {
    card.flipped = true
    flippedCards.value.push(card)
    if (flippedCards.value.length === 2) {
      checkForMatch()
    }
  }
}

const checkForMatch = () => {
  if (flippedCards.value[0].name === flippedCards.value[1].name) {
    // Match found, mark both cards as found
    flippedCards.value.forEach((card) => {
      card.found = true
    })
    // Reset flippedCards after a brief delay
    setTimeout(() => {
      flippedCards.value = []
    }, 1000)
  } else {
    // No match found, flip the cards back after a delay
    setTimeout(() => {
      flippedCards.value.forEach((card) => {
        card.flipped = false
      })
      flippedCards.value = []
    }, 1000)
  }
}
</script>

<style>
.memory-container h1 {
  display: flex;
  justify-content: center;
}

.memory-container h2 {
  display: flex;
  justify-content: center;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #c2c1c4;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
</style>
