<template>
  <link
    href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css"
    rel="stylesheet"
  />

  <div class="page-container">
    <!-- Formulaire de recherche -->
    <div class="search-form">
      <!-- Zone de texte pour le titre -->
      <v-text-field v-model="searchQuery.title" placeholder="Titre" outlined></v-text-field>

      <!-- Liste déroulante pour la ressource -->
      <v-select
        v-model="searchQuery.resource"
        :items="resourceOptions"
        label="Ressource"
        outlined
      ></v-select>

      <!-- Liste déroulante pour les catégories -->
      <v-select
        v-model="searchQuery.categories"
        :items="categoryOptions"
        label="Categories"
        outlined
      ></v-select>

      <!-- Liste déroulante pour la relation -->
      <v-select
        v-model="searchQuery.relation"
        :items="relationOptions"
        label="Relation"
        outlined
      ></v-select>

      <v-btn color="primary" @click="search">Rechercher</v-btn>
    </div>

    <!-- Ressources -->
    <div class="resource-grid">
      <div v-for="(resource, index) in resources" :key="index" class="resource-item">
        <!-- Affichez les détails de la ressource -->
        <v-card
          class="custom-card"
          @click="openResourceModal(resource)"
          :style="{ 'background-image': 'url(' + resource.imageUrl + ')' }"
        >
          <v-card-title class="title">{{ resource.title }}</v-card-title>
          <v-card-text class="description">{{ resource.description }}</v-card-text>
          <!-- Ajoutez d'autres détails de la ressource si nécessaire -->
        </v-card>
      </div>
    </div>
  </div>

  <div>
    <!-- Fenêtre modale pour les détails de la ressource -->
    <v-dialog v-model="resourceModal" max-width="600">
      <template v-slot:activator="{}"> </template>
      <!-- Cet élément est nécessaire, mais son contenu sera généré dynamiquement -->
      <v-card>
        <!-- Titre de la ressource -->
        <v-card-title>{{ selectedResource.title }}</v-card-title>

        <v-btn color="primary" class="favorite-icon" icon @click="toggleFavorite(selectedResource)">
          <v-icon>{{ selectedResource.favorite ? 'mdi-star' : 'mdi-star-outline' }}</v-icon>
        </v-btn>

        <v-btn
          color="primary"
          class="exploitation-icon"
          icon
          @click="toggleExploitation(selectedResource)"
        >
          <!-- Icône d'exploitation -->
          <v-icon>mdi-plus</v-icon>
        </v-btn>

        <v-btn color="primary" class="follow-icon" icon @click="toggleFollow(selectedResource)">
          <!-- Icône de suivi (follow) -->
          <v-icon>mdi-square</v-icon>
        </v-btn>

        <v-btn color="primary" class="share-icon" icon @click="toggleFollow(selectedResource)">
          <!-- Icône de suivi (follow) -->
          <v-icon>mdi-share</v-icon>
        </v-btn>

        <!-- Informations de la ressource -->
        <v-card-subtitle>
          <div>Type de relation : {{ selectedResource.relation }}</div>
          <div>Catégorie : {{ selectedResource.category }}</div>
          <div>Type de ressource : {{ selectedResource.type }}</div>
        </v-card-subtitle>

        <!-- Date de la ressource -->
        <v-card-subtitle class="dateCreation"
          >Date de création : {{ selectedResource.date }}</v-card-subtitle
        >

        <!-- Image de la ressource -->
        <v-img :src="selectedResource.imageUrlModal" width="100%"></v-img>

        <!-- Description de la ressource -->
        <v-card-text>{{ selectedResource.description }}</v-card-text>

        <!-- Espace commentaire -->
        <v-card-actions>
          <v-btn color="primary">Ajouter un commentaire</v-btn>
          <!-- Bouton commentaire -->
        </v-card-actions>

        <!-- Bouton de fermeture -->
        <v-card-actions>
          <v-btn color="primary" @click="closeResourceModal">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const searchQuery = ref({
  title: '',
  resource: '',
  categories: '',
  relation: ''
})

const resourceOptions = ['Ressource 1', 'Ressource 2', 'Ressource 3'] // Remplacez par vos options réelles
const categoryOptions = ['Catégorie 1', 'Catégorie 2', 'Catégorie 3'] // Remplacez par vos options réelles
const relationOptions = ['Relation 1', 'Relation 2', 'Relation 3'] // Remplacez par vos options réelles

const resources = ref([
  {
    title: 'Titre 1',
    description: 'Description de la ressource 1',
    category: 'Catégorie A',
    relation: 'Relation X',
    imageUrl: 'https://upload.wikimedia.org/wikipedia/commons/8/81/Halleyparknovember.jpg',
    imageUrlModal: 'https://upload.wikimedia.org/wikipedia/commons/8/81/Halleyparknovember.jpg'
  },
  {
    title: 'Titre 2',
    description: 'Description de la ressource 2',
    category: 'Catégorie B',
    relation: 'Relation Y',
    imageUrl:
      'https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Fontaine_-_143.jpg/450px-Fontaine_-_143.jpg',
    imageUrlModal:
      'https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Fontaine_-_143.jpg/450px-Fontaine_-_143.jpg'
  },
  {
    title: 'Titre 3',
    description: 'Description de la ressource 3',
    category: 'Catégorie A',
    relation: 'Relation Z',
    imageUrl:
      'https://www.maisondelagravure.com/23783-large_default/1711-fond-de-carte-de-l-europe.jpg',
    imageUrlModal:
      'https://www.maisondelagravure.com/23783-large_default/1711-fond-de-carte-de-l-europe.jpg'
  },
  {
    title: 'Titre 4',
    description: 'Description de la ressource 4',
    category: 'Catégorie A',
    relation: 'Relation X',
    imageUrl:
      'https://upload.wikimedia.org/wikipedia/commons/1/1d/Football_Pallo_valmiina-cropped.jpg',
    imageUrlModal:
      'https://upload.wikimedia.org/wikipedia/commons/1/1d/Football_Pallo_valmiina-cropped.jpg'
  },
  {
    title: 'Titre 5',
    description: 'Description de la ressource 5',
    category: 'Catégorie B',
    relation: 'Relation Y',
    imageUrl:
      'https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Jetstar_Airbus_A320_in_flight_%286768081241%29_crop.jpg/1200px-Jetstar_Airbus_A320_in_flight_%286768081241%29_crop.jpg',
    imageUrlModal:
      'https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Jetstar_Airbus_A320_in_flight_%286768081241%29_crop.jpg/1200px-Jetstar_Airbus_A320_in_flight_%286768081241%29_crop.jpg'
  },
  {
    title: 'Titre 6',
    description: 'Description de la ressource 6',
    category: 'Catégorie A',
    relation: 'Relation Z',
    imageUrl:
      'https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Festival_du_Bout_du_Monde_2016_-_003.jpg/1200px-Festival_du_Bout_du_Monde_2016_-_003.jpg',
    imageUrlModal:
      'https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Festival_du_Bout_du_Monde_2016_-_003.jpg/1200px-Festival_du_Bout_du_Monde_2016_-_003.jpg'
  },
  {
    title: 'Titre 7',
    description: 'Description de la ressource 7',
    category: 'Catégorie A',
    relation: 'Relation X',
    imageUrl: 'https://upload.wikimedia.org/wikipedia/commons/0/07/Toru%C5%84%2C_Hotel_Polonia.jpg',
    imageUrlModal:
      'https://upload.wikimedia.org/wikipedia/commons/0/07/Toru%C5%84%2C_Hotel_Polonia.jpg'
  },
  {
    title: 'Titre 8',
    description: 'Description de la ressource 8',
    category: 'Catégorie B',
    relation: 'Relation Y',
    imageUrl: 'https://upload.wikimedia.org/wikipedia/commons/9/91/Pizza-3007395.jpg',
    imageUrlModal: 'https://upload.wikimedia.org/wikipedia/commons/9/91/Pizza-3007395.jpg'
  }
  // Ajoutez d'autres ressources fictives ici au besoin
])

const resourceModal = ref(false) // État pour contrôler l'ouverture/fermeture de la fenêtre modale
const selectedResource = ref({}) // Stocke les détails de la ressource sélectionnée

// Méthode pour ouvrir la fenêtre modale et afficher les détails de la ressource sélectionnée
const openResourceModal = (resource) => {
  selectedResource.value = resource // Stocke les détails de la ressource sélectionnée
  resourceModal.value = true // Ouvre la fenêtre modale
}

// Méthode pour fermer la fenêtre modale
const closeResourceModal = () => {
  resourceModal.value = false // Ferme la fenêtre modale
}
</script>

<style>
.page-container {
  padding: 20px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.resource-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Largeur augmentée */
  gap: 40px;
}

.custom-card {
  /*width: 450px;*/
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.custom-card::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* Couleur d'opacité pour la superposition */
  background-size: contain;
  resize: both;
}

.custom-card:hover::before {
  background-color: rgba(0, 0, 0, 0);
  /* Survol de la carte, suppression de l'opacité */
}

.custom-card > * {
  position: relative;
  z-index: 1;
}

.title {
  background-color: #ffffff;
  /* Couleur de fond blanc */
  margin: 10px 15px;
  /* Ajoute un peu d'espace autour du texte */
  border-radius: 10px;
}

.description {
  background-color: #ffffff;
  /* Couleur de fond blanc */
  margin: 10px 15px;
  border-radius: 10px;
}

/*page modale*/

.modal-container {
  padding: 20px;
}

.resource-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.resource-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.resource-info-item {
  flex: 1;
  margin-right: 20px;
}

.resource-date {
  font-style: italic;
  margin-bottom: 10px;
}

.resource-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.resource-description {
  margin-bottom: 10px;
}

.comment-section {
  margin-top: 20px;
}

.comment-btn {
  margin-top: 10px;
}

.v-card-subtitle {
  margin-top: 15px;
  align-self: flex-end;
}

.dateCreation {
  align-self: baseline;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.favorite-icon:hover {
  cursor: pointer;
}

.exploitation-icon {
  position: absolute;
  top: 10px;
  right: 80px;
  z-index: 2;
}

.exploitation-icon:hover {
  cursor: pointer;
}

.follow-icon {
  position: absolute;
  top: 10px;
  right: 150px;
  z-index: 2;
}

.follow-icon:hover {
  cursor: pointer;
}

.share-icon {
  position: absolute;
  top: 10px;
  right: 220px;
  z-index: 2;
}

.share-icon:hover {
  cursor: pointer;
}
</style>
