<template>
  <div class="account-page-container">
    <!-- Partie "Mes ressources créées" -->
    <div class="account-column">
      <h2>Mes ressources créées</h2>
      <div class="resource-list">
        <div v-for="(resource, index) in createdResources" :key="index" class="resource-item">
          <v-card class="custom-card">
            <v-card-title class="title">{{ resource.title }}</v-card-title>
            <v-card-text class="description">{{ resource.description }}</v-card-text>
            <v-btn class="paddingLeft" small color="primary" @click="editResource(index)"
              >Modifier</v-btn
            >
            <!-- Bouton "Modification" -->
          </v-card>
        </div>
      </div>
    </div>

    <!-- Partie "Actions de compte" -->
    <div class="account-column">
      <h2>Actions de compte</h2>
      <div class="account-actions">
        <v-btn class="boutonMonCompte" color="primary" @click="PoliceChange"
          >Augmenter la police du site</v-btn
        >
        <v-btn class="boutonMonCompte" color="primary" @click="addContact"
          >Ajouter un contact</v-btn
        >
        <v-btn class="boutonMonCompte" color="primary" @click="viewContacts">Mes contacts</v-btn>
        <v-btn class="boutonMonCompte" color="primary" @click="editInfo"
          >Modifier mes informations</v-btn
        >
        <v-btn class="boutonMonCompte" color="primary" @click="deactivateAccount"
          >Désactiver mon compte</v-btn
        >
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const createdResources = ref([
  {
    title: 'Titre de la ressource 1',
    description: 'Description de la ressource 1'
  },
  {
    title: 'Titre de la ressource 2',
    description: 'Description de la ressource 2'
  },
  {
    title: 'Titre de la ressource 3',
    description: 'Description de la ressource 3'
  }
  // Ajoutez d'autres ressources créées au besoin
])

// Fonctions pour les actions de compte
const addContact = () => {
  // Action pour ajouter un contact
}

const viewContacts = () => {
  // Action pour afficher les contacts
}

const editInfo = () => {
  // Action pour modifier les informations
}

const deactivateAccount = () => {
  // Action pour désactiver le compte
}
</script>

<style>
.account-page-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.account-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-list {
  width: 100%;
  margin-top: 10px;
}

.custom-card {
  width: 100% !important;
}

.resource-item {
  margin-bottom: 10px;
}

.account-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-card {
  height: 150px;
  /* Réduire la taille des ressources */
  width: 300px;
}

.v-btn {
  font-size: 14px;
  /* Réduire la taille des boutons */
}

.paddingLeft {
  margin-left: 10px;
}

.boutonMonCompte {
  margin: 10px 0;
  width: 100%;
}
</style>
