<template>
  <div>
    <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="448" rounded="lg">
      <div>
        <h2>Connexion</h2>
      </div>
      <div class="text-subtitle-1 text-medium-emphasis">Account</div>

      <v-text-field
        v-model="Email"
        density="compact"
        placeholder="Email address"
        prepend-inner-icon="mdi-email-outline"
        variant="outlined"
      ></v-text-field>

      <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
        Password

        <a
          class="text-caption text-decoration-none text-blue"
          href="#"
          rel="noopener noreferrer"
          target="_blank"
        >
          Forgot login password?</a
        >
      </div>

      <v-text-field
        v-model="MotDePasse"
        :type="visible ? 'text' : 'password'"
        density="compact"
        placeholder="Enter your password"
        prepend-inner-icon="mdi-lock-outline"
        variant="outlined"
        @click:append-inner="visible = !visible"
      ></v-text-field>

      <v-btn
        block
        class="mb-8 button-marge"
        color="blue"
        size="large"
        variant="tonal"
        @click="login"
      >
        Log In
      </v-btn>
      <!-- Définir le composant de dialogue pour afficher le message -->
      <div v-if="showErrorDialog" class="error-dialog">
        <p>La connexion a échoué. Veuillez vérifier vos informations de connexion.</p>
        <button @click="closeErrorDialog">OK</button>
      </div>

      <v-card-text class="text-center">
        <a
          class="text-blue text-decoration-none"
          href="/inscription"
          rel="noopener noreferrer"
          title=""
        >
          S'inscrire
        </a>
      </v-card-text>

      <div class="separ">
        <div id="choisirFC">Ou</div>
      </div>

      <div>
        <img class="FC" src="@/assets/logoFC.png" alt="" title="" />
        <a class="lienFC">qu'est ce que France Connect ?</a>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      Email: '',
      MotDePasse: '',
      visible: false,
      showErrorDialog: false // Initialisez la propriété showErrorDialog à false
    }
  },
  methods: {
    async login() {
      try {
        const response = await fetch('https://localhost:7256/api/Utilisateur/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            email: this.Email,
            motDePasse: this.MotDePasse
          })
        })

        const data = await response.text()

        if (data == 'true') {
          console.log('Connexion réussie')
          // Rediriger vers la page d'accueil
          this.$router.push({ name: 'home' })
        } else {
          console.error('Échec de la connexion:', data)
          // Afficher la pop-up d'erreur
          this.showErrorDialog = true
        }
      } catch (error) {
        console.error('Erreur lors de la connexion:', error)
      }
    },
    closeErrorDialog() {
      // Fermer la pop-up d'erreur
      this.showErrorDialog = false
    }
  }
}
</script>

<style>
.error-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.v-card {
  margin: 10px 0;
  padding-top: 20px !important;
}

.v-card h2 {
  margin-bottom: 10px;
}

.border-separate {
  border: solid 1px lightgrey;
}

.button-marge {
  margin: 0 !important;
}

.text-center {
  padding: 0 !important;
  padding-top: 20px !important;
  margin-bottom: 1rem;
}

#choisirFC {
  width: 40px;
}

.separ {
  align-items: center;
  display: flex;
  text-align: center;
  padding-bottom: 1.3rem;
}

.separ::after,
.separ::before {
  content: '';
  flex: 1;
  border-bottom: 1px solid #b1b1b1;
}

.FC {
  display: flex;
  align-items: center;
  margin: auto;
  cursor: pointer;
}

.lienFC {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
</style>
