<template>
  <h2 class="main-title-page">Aide et contact</h2>
  <div class="contact-page">
    <div class="faq-section">
      <h3 id="title-faq">FAQ</h3>
      <ul>
        <li v-for="(faq, index) in faqs" :key="index">
          <button @click="toggleFaq(index)">
            {{ faq.question }}
          </button>
          <div v-if="faq.open" class="faq-answer">
            {{ faq.answer }}
          </div>
        </li>
      </ul>
    </div>
    <div id="Form-Contact">
      <!-- Formulaire de contact -->
      <form @submit.prevent="submitForm">
        <div class="form-group">
          <label for="name">Nom :</label>
          <input type="text" id="name" v-model="form.name" required />
        </div>
        <div class="form-group">
          <label for="email">Email :</label>
          <input type="email" id="email" v-model="form.email" required />
        </div>
        <div class="form-group">
          <label for="motif">Motif :</label>
          <input type="text" id="motif" v-model="form.motif" required />
        </div>
        <div class="form-group">
          <label for="message">Message :</label>
          <textarea id="message" v-model="form.message" required></textarea>
        </div>
        <button type="submit">Envoyer</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        email: '',
        motif: '',
        message: ''
      },
      faqs: [
        {
          question: 'Comment créer un compte utilisateur avec Vue.js ?',
          answer:
            "Pour créer un compte utilisateur, vous devez mettre en place un formulaire de création de compte et gérer la soumission des données à l'aide de Vue.js et de votre backend.",
          open: false
        },
        {
          question: 'Comment puis-je me connecter à mon compte avec Vue.js ?',
          answer:
            "Utilisez un composant de connexion qui recueille les informations d'identification de l'utilisateur et les envoie à votre serveur pour authentification.",
          open: false
        },
        {
          question: 'Comment gérer la session utilisateur dans Vue.js ?',
          answer:
            "Vous pouvez gérer la session utilisateur en stockant les jetons d'authentification dans le localStorage ou les cookies et en les utilisant pour maintenir la session active.",
          open: false
        },
        {
          question: 'Comment puis-je réinitialiser mon mot de passe avec Vue.js ?',
          answer:
            "Mettez en place un processus de réinitialisation de mot de passe qui permet à l'utilisateur de recevoir un lien par e-mail pour créer un nouveau mot de passe.",
          open: false
        },
        {
          question: 'Comment mettre à jour les informations de profil dans Vue.js ?',
          answer:
            "Fournissez un formulaire de profil que l'utilisateur peut remplir pour mettre à jour ses informations, qui seront ensuite envoyées au serveur pour mise à jour.",
          open: false
        }
      ]
    }
  },
  methods: {
    submitForm() {
      // Ici, vous pouvez ajouter la logique pour envoyer le formulaire à votre serveur ou API
      console.log('Form submitted:', this.form)
    },
    toggleFaq(index) {
      this.faqs[index].open = !this.faqs[index].open
    }
  }
}
</script>

<style scoped>
.main-title-page {
  text-align: center;
  font-size: 30px;
  color: black;
}

.contact-page {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
}

#title-faq {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.faq-section {
  width: 40%;
  background-color: lightgrey;
  padding: 7px;
}

.faq-section ul {
  list-style-type: none;
  /* Aucun marqueur pour les éléments de liste */
}

.faq-section li {
  margin-bottom: 15px;
}

#Form-Contact {
  width: 40%;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: solid 1px black;
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
</style>
