<template>
  <h2 class="mainTitleRessource">Création d'une ressource</h2>
  <div id="app">
    <!-- Form container -->
    <form @submit.prevent="submitForm">
      <!-- Title input -->
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" v-model="form.title" />
      </div>

      <!-- Type of relation dropdown -->
      <div class="form-group">
        <label for="relationType">Type de relation</label>
        <select id="relationType" v-model="form.relationType">
          <option value="" disabled selected>Sélectionnez</option>
          <option value="1">Famille</option>
          <option value="2">Enfants</option>
          <option value="3">Adultes</option>
          <option value="4">Vieux</option>
          <option value="5">Bébé</option>
          <option value="6">Amis</option>
          <option value="7">Collègues</option>
          <option value="8">Voisins</option>
          <option value="9">Connaissances</option>
        </select>
      </div>

      <!-- Type of resource dropdown -->
      <div class="form-group">
        <label for="resourceType">Type de ressource</label>
        <select id="resourceType" v-model="form.resourceType">
          <option value="" disabled selected>Sélectionnez</option>
          <option value="1">Jeu</option>
          <option value="2">Article</option>
          <option value="3">Documentaire</option>
          <option value="7">Vidéo</option>
          <!-- Ajoutez d'autres options ici -->
        </select>
      </div>

      <!-- Category dropdown -->
      <div class="form-group">
        <label for="category">Catégorie</label>
        <select id="category" v-model="form.category">
          <option value="" disabled selected>Sélectionnez</option>
          <option value="1">Histoire</option>
          <option value="2">Géographique</option>
          <option value="3">Français</option>
          <option value="4">Politique</option>
          <option value="5">Économique</option>
          <option value="6">Science</option>
          <option value="7">Technologie</option>
          <option value="8">Culture</option>
          <option value="9">Art</option>
          <!-- Ajoutez d'autres options ici -->
        </select>
      </div>

      <!-- Mode of diffusion dropdown -->
      <div class="form-group">
        <label for="diffusionMode">Mode de diffusion</label>
        <select id="diffusionMode" v-model="form.diffusionMode">
          <option value="" disabled selected>Sélectionnez</option>
          <option value="Public">Public</option>
          <option value="Restreint">Restreint</option>
          <!-- Add options here -->
        </select>
      </div>

      <!-- Geographical zone dropdown -->
      <div class="form-group">
        <label for="geographicalZone">Zone géographique</label>
        <select id="geographicalZone" v-model="form.geographicalZone">
          <option value="" disabled selected>Sélectionnez</option>
          <option :value="1">Auvergne-Rhône-Alpes</option>
          <option :value="2">Bourgogne-Franche-Comté</option>
          <option :value="3">Bretagne</option>
          <option :value="4">Centre-Val de Loire</option>
          <option :value="5">Corse</option>
          <option :value="6">Grand Est</option>
          <option :value="7">Hauts-de-France</option>
          <option :value="8">Île-de-France</option>
          <option :value="9">Normandie</option>
          <option :value="10">Nouvelle-Aquitaine</option>
          <option :value="11">Occitanie</option>
          <option :value="12">Pays de la Loire</option>
          <option :value="13">Provence-Alpes-Côte d'Azur</option>
        </select>
      </div>

      <div class="form-group">
        <label for="message">Contenu</label>
        <textarea id="message" v-model="form.message"></textarea>
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input type="text" v-model="form.image" />
      </div>

      <!-- Submit button -->
      <div class="form-group button-ressource">
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" />
        <button type="submit">Creer une ressource</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        title: '',
        relationType: '',
        resourceType: '',
        category: '',
        diffusionMode: '',
        geographicalZone: '',
        image: ''
      }
    }
  },
  methods: {
    submitForm() {
      // Obtenir la date d'aujourd'hui
      let today = new Date()

      // Extraire le jour, le mois et l'année
      let day = String(today.getDate()).padStart(2, '0')
      let month = String(today.getMonth() + 1).padStart(2, '0') // Les mois commencent à 0
      let year = today.getFullYear()

      // Concaténer les éléments pour former la date au format DD/MM/YYYY
      let formattedDate = day + '/' + month + '/' + year

      console.log(formattedDate)
      // Créer un objet représentant la ressource
      let ressource = {
        Titre: this.form.title,
        DateCreation: formattedDate, // Remplacez par la date actuelle ou une valeur valide
        Contenu: this.form.message,
        Image: this.form.image, // Ajoutez ici la logique pour gérer l'image si nécessaire
        IDStatut: 1, // Remplacez 0 par la valeur appropriée si nécessaire
        IDAuteur: 1, // Remplacez 0 par la valeur appropriée si nécessaire
        IDCategorieRessource: this.form.category, // Remplacez 0 par la valeur appropriée si nécessaire
        IDTypeRessource: this.form.resourceType, // Remplacez 0 par la valeur appropriée si nécessaire
        IDTypeRelation: this.form.relationType, // Remplacez 0 par la valeur appropriée si nécessaire
        ID_ZoneGeographique: this.form.geographicalZone // Remplacez 0 par la valeur appropriée si nécessaire
      }

      console.log(ressource)
      // Effectuer une requête POST vers votre API
      fetch('https://localhost:7256/api/Ressource', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(ressource) // Convertir l'objet en chaîne JSON
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error('Erreur lors de la création de la ressource')
          }
          // Gérer la réponse ici si nécessaire
          console.log('Ressource créée avec succès')
        })
        .catch((error) => {
          console.error('Erreur lors de la création de la ressource:', error)
        })
    },
    handleFileUpload() {
      // Récupérer le fichier téléchargé à partir de l'input file
      this.file = this.$refs.file.files[0]
    },
    resetForm() {
      // Réinitialiser les valeurs du formulaire
      this.form.title = ''
      this.form.relationType = ''
      this.form.resourceType = ''
      this.form.category = ''
      this.form.diffusionMode = ''
      this.form.geographicalZone = ''
      this.form.message = ''
      this.$refs.file.value = '' // Réinitialiser l'input de fichier
    }
  }
}
</script>

<style scoped>
.mainTitleRessource {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#app {
  width: 60%;
  margin: auto;
  padding: 8px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 1px 2px rgb(226, 226, 226);
}

.form-group {
  margin-bottom: 1rem;
  margin-bottom: 5px !important;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type='text'],
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: black 1px solid;
}

textarea {
  width: 100%;
  border: solid 1px black;
}

button {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.button-ressource {
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: #2980b9;
}
</style>
