<script setup>
import mainRessource from '../components/mainRessource.vue'
import actualiteRessource from '../components/actualite.vue'
// import cardsActualite from '../components/cardsActualite.vue'
</script>

<template>
  <mainRessource></mainRessource>
  <actualiteRessource></actualiteRessource>
</template>

<style scoped>
#articleBloc {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
</style>
