<template>
  <div>
    <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="448" rounded="lg">
      <div>
        <h2>S'inscrire</h2>
      </div>
      <div class="text-subtitle-1 text-medium-emphasis">
        <div style="display: flex; justify-content: space-between">
          <div style="flex: 1">Nom</div>
          <div style="flex: 1">Prénom</div>
        </div>
      </div>

      <div style="display: flex; gap: 5px">
        <v-text-field
          v-model="Nom"
          density="compact"
          placeholder="Nom"
          variant="outlined"
          style="flex: 1"
        ></v-text-field>
        <v-text-field
          v-model="Prenom"
          density="compact"
          placeholder="Prénom"
          prepend-inner-icon="mdi-email-outline"
          variant="outlined"
          style="flex: 1"
        ></v-text-field>
      </div>

      <div class="text-subtitle-1 text-medium-emphasis">
        <div style="display: flex; justify-content: space-between">
          <div style="flex: 1">Age</div>
          <div style="flex: 1">Commune</div>
        </div>
      </div>

      <div style="display: flex; gap: 5px">
        <v-text-field
          v-model="Age"
          density="compact"
          placeholder="Age"
          variant="outlined"
          style="flex: 1"
        ></v-text-field>
        <v-text-field
          v-model="Commune"
          density="compact"
          placeholder="Commune"
          prepend-inner-icon="mdi-email-outline"
          variant="outlined"
          style="flex: 1"
        ></v-text-field>
      </div>

      <div class="text-subtitle-1 text-medium-emphasis">Email</div>

      <v-text-field
        v-model="Email"
        density="compact"
        placeholder="Email address"
        prepend-inner-icon="mdi-email-outline"
        variant="outlined"
      ></v-text-field>

      <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
        Password
      </div>

      <v-text-field
        v-model="MotDePasse"
        :type="visible ? 'text' : 'password'"
        density="compact"
        placeholder="Enter your password"
        prepend-inner-icon="mdi-lock-outline"
        variant="outlined"
        @click:append-inner="visible = !visible"
      ></v-text-field>

      <v-btn
        block
        class="mb-8 button-marge"
        color="blue"
        size="large"
        variant="tonal"
        @click="register"
      >
        S'inscrire
      </v-btn>
      <!-- Définir le composant de dialogue pour afficher le message -->
      <div v-if="showErrorDialog" class="error-dialog">
        <p>La connexion a échoué. Veuillez vérifier vos informations de connexion.</p>
        <button @click="closeErrorDialog">OK</button>
      </div>

      <!-- Définir le composant de dialogue pour afficher le message -->
      <div v-if="showErrorDialog" class="error-dialog">
        <p>Inscription confirmée, vous allez êtes redirigé vers la page d'accueil.</p>
        <button @click="closeErrorDialog">OK</button>
      </div>

      <v-card-text class="text-center">
        <a class="text-blue text-decoration-none" href="/connect" rel="noopener noreferrer">
          Se connecter
        </a>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      Nom: '',
      Prenom: '',
      Age: '',
      Commune: '',
      Email: '',
      MotDePasse: '',
      visible: false,
      showErrorDialog: false // Initialisez la propriété showErrorDialog à false
    }
  },
  methods: {
    async register() {
      try {
        const nomUtilisateur = this.Nom + this.Prenom
        const response = await fetch('https://localhost:7256/api/Utilisateur', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            Nom: this.Nom,
            Prenom: this.Prenom,
            Age: this.Age,
            Commune: this.Commune,
            Email: this.Email,
            MotDePasse: this.MotDePasse,
            EstActif: '1',
            NomUtilisateur: nomUtilisateur, // Ajoutez d'autres propriétés si nécessaires
            StatutUtilisateur: 'actif',
            IDRole: '1' // Assurez-vous de remplir toutes les propriétés requises par votre API
          })
        })

        const data = await response.json()

        console.log(data) // Afficher la réponse du serveur dans la console

        if (data == 'Ajout réussi') {
          console.log('Inscription réussie')
          this.showErrorDialog = true
          setTimeout(() => {
            this.$router.push({ name: 'home' })
          }, 2500)
        } else {
          console.error("Échec de l'inscription:", data)
          // Afficher la pop-up d'erreur
        }
      } catch (error) {
        console.error("Erreur lors de l'inscription:", error)
      }
    },
    closeErrorDialog() {
      // Fermer la pop-up d'erreur
      this.showErrorDialog = false
    }
  }
}
</script>

<style>
.error-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.v-card {
  margin: 10px 0;
  padding-top: 20px !important;
}

.v-card h2 {
  margin-bottom: 10px;
}

.border-separate {
  border: solid 1px lightgrey;
}

.button-marge {
  margin: 0 !important;
}

.text-center {
  padding: 0 !important;
  padding-top: 20px !important;
  margin-bottom: 1rem;
}

#choisirFC {
  width: 40px;
}

.separ {
  align-items: center;
  display: flex;
  text-align: center;
  padding-bottom: 1.3rem;
}

.separ::after,
.separ::before {
  content: '';
  flex: 1;
  border-bottom: 1px solid #b1b1b1;
}

.FC {
  display: flex;
  align-items: center;
  margin: auto;
  cursor: pointer;
}

.lienFC {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
</style>
