<!--Futur fenêtre modale-->

<script setup lang="ts"></script>
<template>
  <div class="title">
    <h1>Ressource</h1>
  </div>
  <headerMenu></headerMenu>
</template>

<style>
@media (min-width: 1024px) {
  .title {
    min-height: 100vh;
    display: flex;
    align-items: top;
  }
}
</style>
