<template>
  <div class="block-actualite">
    <div>
      <h2 class="mainTitle">L'essentiel de l'actualité</h2>
    </div>
    <div class="block-info-actualite">
      <div v-for="(article, index) in articles" :key="index" @click="openModal(article)">
        <div class="block-article">
          <div><img :src="article.imageSrc" class="article-image" alt="" /></div>
          <div class="info-article">
            <div class="category" style="font-size: 12px">
              <b>{{ article.category }}</b>
            </div>
            <div class="titleCategory">{{ article.title }}</div>
            <div class="block-publication">
              <p>Publié {{ article.publicationDate }}</p>
              <img
                width="32"
                height="32"
                src="https://img.icons8.com/windows/32/000000/long-arrow-right.png"
                alt="long-arrow-right"
                title=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fenêtre modale pour les détails de l'article -->
    <v-dialog v-model="modal" max-width="600">
      <v-card>
        <v-card-title>{{ selectedArticle.title }}</v-card-title>

        <!-- Date de l'article -->
        <v-card-subtitle class="dateCreation"
          >Date de publication : {{ selectedArticle.publicationDate }}</v-card-subtitle
        >

        <!-- Image de l'article -->
        <v-img :src="selectedArticle.imageSrc" class="resource-image" width="100%"></v-img>

        <!-- Description de l'article -->
        <v-card-text>{{ selectedArticle.description }}</v-card-text>

        <!-- Espace commentaire -->
        <v-card-actions>
          <v-btn color="primary">Ajouter un commentaire</v-btn>
          <!-- Bouton commentaire -->
        </v-card-actions>

        <!-- Bouton de fermeture -->
        <v-card-actions>
          <v-btn color="primary" @click="closeModal">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const articles = [
  {
    imageSrc: 'https://www.bourgachard.fr/images/CNI.png',
    category: 'Consommation',
    title: "Antcipez le renouvellement de vos papiers d'identité.",
    publicationDate: '10/02/2023',
    favorite: false, // Ajoutez d'autres propriétés si nécessaire
    relation: 'Relation X' // Exemple de propriété supplémentaire
    // Ajoutez d'autres propriétés si nécessaire
  },
  {
    imageSrc: 'https://www.usinenouvelle.com/mediatheque/7/0/7/001452707_896x598_c.jpg',
    category: 'Economie',
    title: 'Flambée des composants électroniques au niveau mondial.',
    publicationDate: '15/04/2023',
    favorite: false, // Ajoutez d'autres propriétés si nécessaire
    relation: 'Relation Y' // Exemple de propriété supplémentaire
    // Ajoutez d'autres propriétés si nécessaire
  },
  {
    imageSrc:
      'https://www.gouvernement.fr/upload/media/content/0001/09/597460a58ef62065d38105ab8a2c3dbe346585dc.jpg',
    category: 'Consommation',
    title: "L'encadrement des promotions sur les produits d’hygiène.",
    publicationDate: '05/03/2026',
    favorite: false, // Ajoutez
    relation: 'Relation Z' // Exemple de propriété supplémentaire
  }
]
const modal = ref(false) // État pour contrôler l'ouverture/fermeture de la fenêtre modale
const selectedArticle = ref({}) // Stocke les détails de l'article sélectionné

// Méthode pour ouvrir la fenêtre modale et afficher les détails de l'article sélectionné
const openModal = (article) => {
  selectedArticle.value = article // Stocke les détails de l'article sélectionné
  modal.value = true // Ouvre la fenêtre modale
}

// Méthode pour fermer la fenêtre modale
const closeModal = () => {
  modal.value = false // Ferme la fenêtre modale
}
</script>

<style scoped>
/* Ajoutez vos styles pour la page actualité ici */

.article-image {
  width: 350px;
  /* Ajustez la taille des images */
  height: auto;
  /* Garantit que les images conservent leur proportion */
}

.block-info-actualite {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.block-actualite {
  padding: 8px calc(var(--section-gap) / 2) 8px 6rem;
}

.mainTitle {
  font-weight: bold;
  padding: 10px 0;
}

.modal-container {
  padding: 20px;
}

.resource-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.resource-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.resource-info-item {
  flex: 1;
  margin-right: 20px;
}

.resource-date {
  font-style: italic;
  margin-bottom: 10px;
}

.resource-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.resource-description {
  margin-bottom: 10px;
}

.comment-section {
  margin-top: 20px;
}

.comment-btn {
  margin-top: 10px;
}

.v-card-subtitle {
  margin-top: 15px;
  align-self: flex-end;
}

.dateCreation {
  align-self: baseline;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.favorite-icon:hover {
  cursor: pointer;
}

.exploitation-icon {
  position: absolute;
  top: 10px;
  right: 80px;
  z-index: 2;
}

.exploitation-icon:hover {
  cursor: pointer;
}

.follow-icon {
  position: absolute;
  top: 10px;
  right: 150px;
  z-index: 2;
}

.follow-icon:hover {
  cursor: pointer;
}

.share-icon {
  position: absolute;
  top: 10px;
  right: 220px;
  z-index: 2;
}

.share-icon:hover {
  cursor: pointer;
}

.article-image[data-v-c5a41f9b] {
  height: 250px !important;
}
</style>
