<template>
  <div class="block-actualite">
    <div>
      <h2 class="mainTitle">L'essentiel de l'actualité</h2>
    </div>
    <div class="block-info-actualite">
      <div v-for="(article, index) in articles" :key="index" @click="openModal(article)">
        <div class="block-article">
          <div><img :src="article.imageSrc" class="article-image" alt="" /></div>
          <div class="info-article">
            <div class="category" style="font-size: 12px">
              <b>{{ article.category }}</b>
            </div>
            <div class="titleCategory">{{ article.title }}</div>
            <div class="block-publication">
              <p>Publié {{ article.publicationDate }}</p>
              <img
                width="32"
                height="32"
                src="https://img.icons8.com/windows/32/000000/long-arrow-right.png"
                alt="long-arrow-right"
                title=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fenêtre modale pour les détails de l'article -->
    <v-dialog v-model="modal" max-width="600">
      <v-card>
        <v-card-title>{{ selectedArticle.title }}</v-card-title>
        <v-card-text>
          <p>Catégorie: {{ selectedArticle.category }}</p>
          <p>Date de publication: {{ selectedArticle.publicationDate }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="closeModal">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const articles = [
  {
    imageSrc: 'https://www.bourgachard.fr/images/CNI.png',
    category: 'Consommation',
    title: "Antcipez le renouvellement de vos papiers d'identité.",
    publicationDate: '10/02/2023'
  },
  {
    imageSrc: 'https://www.usinenouvelle.com/mediatheque/7/0/7/001452707_896x598_c.jpg',
    category: 'Economie',
    title: 'Flambée des composants électroniques au niveau mondial.',
    publicationDate: '15/04/2023'
  },
  {
    imageSrc:
      'https://www.gouvernement.fr/upload/media/content/0001/09/597460a58ef62065d38105ab8a2c3dbe346585dc.jpg',
    category: 'Consommation',
    title: "L'encadrement des promotions sur les produits d’hygiène.",
    publicationDate: '05/03/2026'
  }
]

let selectedArticle = null
const modal = ref(false)

const openModal = (article) => {
  selectedArticle = article
  modal.value = true
}

const closeModal = () => {
  selectedArticle = null
  modal.value = false
}
</script>

<style scoped>
.block-info-actualite {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.block-actualite {
  padding: 8px calc(var(--section-gap) / 2) 8px 6rem;
}

.mainTitle {
  font-weight: bold;
  padding: 10px 0;
}

.block-article {
  display: block;
  width: 350px;
  border: solid 1px lightgrey;
}

.article-image {
  width: 100%;
  height: auto;
}

.block-publication {
  display: flex;
  justify-content: space-between;
}

.info-article {
  padding: 10px;
}

.article-image[data-v-5aa736bb] {
  height: 200px;
}
</style>
