<script>
export default {
  // Options du composant Vue
}
</script>

<template>
  <footer>
    <div>
      <RouterLink to="/" class="nothing"
        ><img alt="Vue logo" class="logo" src="@/assets/Logo_gouvernement.png" width="150"
      /></RouterLink>
    </div>
    <div>
      <div>
        <p>Ce site est géré par le Service d’Information du Gouvernement (SIG).</p>
      </div>
      <div class="partenaire">
        <a href="https://www.legifrance.gouv.fr/" target="_blank" title=""
          ><b>legifrance.gouv.fr</b></a
        >
        <a href="https://www.service-public.fr/" target="_blank" title=""
          ><b>service-public.fr</b></a
        >
        <a href="https://www.data.gouv.fr/fr/" target="_blank" title=""><b>data.gouv.fr</b></a>
      </div>
    </div>
    <div>
      <a href="/contact">Contact</a>
    </div>
  </footer>
</template>

<style scoped>
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6rem;
  padding-right: calc(var(--section-gap) / 2);
  border-top: solid 1px lightgrey;
}

.nothing {
  background-color: transparent;
}

.partenaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
