<script></script>

<template>
  <div class="wrapper">
    <nav>
      <RouterLink to="/catalogue">Catalogue de ressource</RouterLink>
      <RouterLink to="/creationRessource">Créer une ressource</RouterLink>
      <RouterLink to="/activite">Activités</RouterLink>
      <RouterLink to="/tableau">Tableau de bord</RouterLink>
      <RouterLink to="/administration">Administration</RouterLink>
      <RouterLink to="/moderation">Modération</RouterLink>
    </nav>
  </div>
</template>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  max-height: 100vh;
  padding: 2rem;
  padding-left: 6rem;
  border-bottom: solid 1px lightgrey;
}

.userBlock {
  display: flex;
}

#textProfil > p {
  font-size: 13px;
  margin: 1px;
  cursor: pointer;
}

nav {
  padding-left: 6.5rem;
  box-shadow: -2px 2px 3px 1px rgb(226, 226, 226);
  margin-bottom: 5px;
}

nav a {
  display: inline-block;
  font-size: 14px;
  padding: 10px 1rem;
  border-left: 1px solid var(--color-border);
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }
}
</style>
