<script>
export default {
  // Options du composant Vue
}
</script>

<template>
  <div class="mainRessource">
    <div>
      <img
        src="@/assets/assembleIVG.jpg"
        width="520"
        alt="image de l'assemble durant le vote de l'IVG en France"
        title=""
      />
    </div>

    <div class="block-info-category">
      <p class="categorieRessource">Santé publique</p>
      <h2><b>IVG dans la Constitution : une « étape fondamentale »</b></h2>
      <p>
        Le Congrès s'est prononcé lundi 4 mars 2024 sur l'inscription dans la Constitution de la
        liberté des femmes de recourir à l'interruption volontaire de grossesse (IVG).
      </p>
      <v-btn append-icon="$vuetify"> Lire l'article </v-btn>
    </div>
  </div>
</template>

<style scoped>
.mainRessource {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 6.5rem;
  padding-right: calc(var(--section-gap) / 2);
}

.block-info-category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 1rem;
}

.categorieRessource {
  font-size: 12px;
}
</style>
