<script setup>
import { RouterLink, RouterView } from 'vue-router'
import headerMenu from './components/headerMenu.vue'
import footerMenu from './components/footer.vue'
</script>

<template>
  <header>
    <div>
      <RouterLink to="/" class="nothing"
        ><img alt="Vue logo" class="logo" src="@/assets/Logo_gouvernement.png" width="150"
      /></RouterLink>
    </div>

    <div class="userBlock">
      <img alt="Vue logo" class="logo" src="@/assets/user.png" width="90px" />
      <div id="textProfil">
        <p>
          <a href="/compte"><b>Mon compte</b></a>
        </p>
        <a href="/connect" style="font-size: 12px">Me connecter</a>
        <br />
        <a href="/inscription" style="font-size: 12px">S'inscrire</a>
      </div>
    </div>
  </header>
  <headerMenu></headerMenu>
  <RouterView />

  <footerMenu></footerMenu>
</template>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  max-height: 100vh;
  padding: 1rem;
  padding-left: 6rem;
  border-bottom: solid 1px lightgrey;
}

.nothing {
  background-color: transparent;
}

.userBlock {
  display: flex;
}

#textProfil > p {
  font-size: 13px;
  margin: 1px;
  cursor: pointer;
}

nav {
  padding-left: 6.5rem;
}

nav a {
  display: inline-block;
  padding: 5px 1rem;
  border-left: 1px solid var(--color-border);
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }
}
</style>
